---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>Paste Image to Download</title>

    <meta name="description" content="Paste any image in your clipboard to download. Privacy friendly" />

    <meta name="og:type" content="website" />
    <meta name="og:image" content="/social.png" />

    
  <link rel="apple-touch-icon" href="/pwa-192x192.png">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00aba9">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#ffffff">

    <script>
      const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches
      if ((prefersDark )){
        document.documentElement.classList.toggle('dark', true)}
  </script>
  </head>

  <body class="font-sans">
    <main class="text-gray-700 dark:text-gray-200 px-4 py-4">
      <slot />
    </main>
  </body>
</html>
